<form action="post" method="new"></form>
<label>Name:</label>
<input type="text" name="name" id="name">
<label>Ingredients:</label>
<input type="text" name="ingredients" id="ingredients">
<input type="submit" value="Submit">
</form>